server:
  port: ${SERVER_PORT:8082}
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/auth
    username: postgres
    password: ${AUTH_DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true


logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.web.csrf: DEBUG

jwt:
  access-token-ttl: ${ACCESS_TOKEN_TTL:30m}
  refresh-token-ttl: ${REFRESH_TOKEN_TTL:7d}

springdoc:
  api-docs:
    path: auth/v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
