server:
  http2:
    enabled: true
  port: ${SERVER_PORT:8081}

spring:
  output:
    ansi:
      enabled: always
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
          httpclient:
            pool:
              max-connections: 200
              max-idle-time: 30s
              type: elastic
          default-filters:
            - RewritePath=/api/(?<segment>.*), /${segment}
  main:
    web-application-type: reactive

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

grpc:
  client:
    global:
      enable-keep-alive: true
      keep-alive-time: 30s
      keep-alive-timeout: 5s
      negotiation-type: plaintext
    order-service:
      address: discovery:///order-service
      enable-keep-alive: true
      keep-alive-without-calls: true
      negotiation-type: plaintext
    product-service:
      address: discovery:///product-service
      enable-keep-alive: true
      negotiation-type: plaintext

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
    io.grpc: TRACE
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"


eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    health-check-url-path: /actuator/health
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: ${RENEWAL_INTERVAL:5}
    lease-expiration-duration-in-seconds: ${EXPIRATION_DURATION:10}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: api-gateway
        url: v3/api-docs
      - name: user-service
        url: /api/user/v3/api-docs
      - name: product-service
        url: /api/product/v3/api-docs
      - name: order-service
        url: /api/order/v3/api-docs
      - name: auth-service
        url: /api/auth/v3/api-docs
      - name: inventory-service
        url: /api/inventory/v3/api-docs
      - name: notification-service
        url: /api/notification/v3/api-docs
      - name: schema-service
        url: /api/schema/v3/api-docs

jwt:
  secret: ${JWT_SECRET}