server:
  port: ${SERVER_PORT:8087}

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/${USER_DB_NAME:postgres}
    username: ${USER_DB_USER:postgres}
    password: ${USER_DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    properties:
      schema.registry.url: http://schema-registry:8081
      basic.auth.credentials.source: URL
      value.subject.name.strategy: io.confluent.kafka.serializers.subject.RecordNameStrategy
    topics:
      user-created: user-created-topic
      user-roles-updated: user-role-update-topic
    consumer:
      group-id: user-service-group

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /user/v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
