server:
  port: ${SERVER_PORT:8089}
spring:
  application:
    name: product-service
  data:
    mongodb:
      auto-index-creation: true
      host: localhost
      port: 27017
      database: ${PRODUCT_MONGO_DB_NAME:Product}
      username: ${PRODUCT_MONGO_DB_USER:root}
      password: ${PRODUCT_MONGO_DB_PASSWORD:root}
      authentication-database: admin
  kafka:
    properties:
      schema.registry.url: http://localhost:8088
      basic.auth.credentials.source: URL
      value.subject.name.strategy: io.confluent.kafka.serializers.subject.RecordNameStrategy

logging:
  level:
    io.grpc: DEBUG
    org.springframework.cloud: DEBUG


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}
    prefer-ip-address: true
    metadata-map:
      grpc-port: ${GRPC_SERVER_PORT:9099}

grpc:
  server:
    port: ${GRPC_SERVER_PORT:9099}
    enable-reflection: true
    keep-alive-time: 30s
    keep-alive-timeout: 5s

springdoc:
  api-docs:
    path: /product/v3/api-docs
  swagger-ui:
    enabled: true
    path: product/swagger-ui.html
